.profile {
  max-width: 410px;
  margin: 0 auto;
}

.profile__hello {
  margin: 74px auto 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}

.profile__data {
  display: flex;
  justify-content: space-between;
  height: 14px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.profile__data:first-of-type {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}

.profile__data:last-of-type {
  margin-top: 17px;
}

.profile__data-name {
  margin: 0;
}

.profile__data-value {
  border: none;
  width: auto;
  text-align: right;
}

.profile__edit {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 220px auto 16px;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.7;
}

.profile__exit {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ff4062;
  margin: 0 auto 70px;
  cursor: pointer;
}

.profile__exit:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .profile {
    max-width: 260px;
  }

  .profile__hello {
    margin: 70px auto 80px;
  }

  .profile__edit {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: 379px auto 16px;
  }

  .profile__exit {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin: 0 auto 40px;
  }
}
