.navtab {
  background-color: black;
  height: 66px;
  align-items: center;
}

.navtab__navigation {
  margin: auto;
  padding-top: 25px;
  display: flex;
  max-width: 276px;
  justify-content: space-between;
  color: #f9f9f9;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.navtab__text {
  margin: 0;
  color: white;
}

.navtab__text:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .navtab__navigation {
    max-width: 214px;
    font-size: 11px;
  }
}
